@{
    ViewData["Title"] = "4-gift Rule";
}
<h1>@ViewData["Title"]</h1>

<p>    
    With the 4-gift rule, each person gets just four gifts for Christmas.
</p>
<p>1. Something you want</p>
<p>2. Something you need</p>
<p>3. Something to wear</p>
<p>4. Something to read</p>
<p>**** If you really really behave, there is a slight chance of getting a BONUS Gift!!!!</p>

