@{
    ViewData["Title"] = "Holidays Home Page";
}

<div class="text-center">
    <h1 class="display-4">Christmas Holidays 2021</h1>
    <p>
        <br />
        <br />
        <br />
        <br />
        <br />
        Learn about Holiday Gift rules for this year.
        <br />
        <br />
        <br />Christmas Holidays 2021
        <br />
        <br />

        Merry Christmas!
        HAPPY HOLIDAYS!!

        <br />
        <br />
        <br />
        <br />
        <br />
        Click on 'View All Puzzles' link above to add puzzles you are interested in getting as Christmas Gifts this year.
        <br />
        <br />
        <br />
        <br />
        <br />
        Lorem Ipsum dolor

        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        Lorem Ipsum dolor

        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Lorem Ipsum dolor sit amet
        consectetur adipiscing elit
        Lorem Ipsum dolor
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        Ut enim ad minim veniam
        Lorem Ipsum dolor

        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br />
        <br />
        <br />
        <br />
        <br />

    </p>                
</div>
